*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
body{
    height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.links{
    text-decoration: none;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    width: 30%;
    font-weight: bold;
    justify-content: space-evenly;
    align-items: center;
}
.wonka{
    width: 100%;
    position: absolute;
    
    
}
#wonka-image{
    mask-image: linear-gradient(to bottom, #000, 40%, rgba(0,0,0, 0.0014) 100%);
    
}
header{
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: fixed;
}
#logo-max{
    margin-left: 30px;
    width: 250px;
}
.icons-area{
    display: flex;
    width: 120px;
    justify-content: space-between;
    margin-right: 30px;
}
a{
    text-decoration: none;
}
#img-size-logo{
    width: 33px;
    height: 33px;
}
#img-size-search{
    width: 25px;
    height: 25px;
}
#img-size-save{
    width: 25px;
    height: 25px;
}
#img-size-user{
    width: 28px;
    height: 28px;
}
.movie-info{
    width: 300px;
    height: 400px;
    position: absolute;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
}
#wonka-logo{
    width: 300px;
    height: 170px;
}
.indication{
    width: 300px;
    height: 24.4px;
}
#status-filme{
    padding: 5px;
    width: 30px;
    font-size: 20px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    font-size: 10px;

}